{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{listing.title}}</h2>
    <div class="container">
    <ul>
        <li>{{ listing.category}} </li>
        <li>{{ listing.image_URL}} </li>
        <li>{{ listing.description}} </li>
        <li>{{ min_bid}} </li>
    </ul>
     </div>
 
    <form action ="/bid" method="POST"> 
        {% csrf_token %}
        <!-- <input type="number" name= "bid_amount" min= "{{min_bid}}"/> -->
        {{bid_form}}
        <input type = "submit" value ="Bid Now"/> 
        <!-- <input type="text" name="bid_amount" value="{{listing.bid_amount}}"> -->
        <input type ="hidden" name ="item_id" value = "{{listing.id}}"/>
    </form>
        
    <form action ="/comment" method="POST"> 
        {% csrf_token %}
        <!-- <input type="number" name= "bid_amount" min= "{{min_bid}}"/> -->
        {{comment_form}}
        <input type = "submit" value ="Add Comment"/> 
        <input type ="hidden" , id = "id" name ="item_id" value = "{{listing.id}}"/>
    </form>

    <div>
        <h3>Comments on this Listing</h3>

        <div class="container">

            {% for comment in listing.comments.all %}
                <div class="row each-comment">
                    <div class="col">
                        <h5><strong>{{ comment.user_id }}</strong> said:</h5>
                        <p> {{ comment.message}}</p>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock %}